*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
:root{
    
    --dark-color: #1e60c4;
    --light-color: #ffffff;
    --dark-purple-color:#277cec79;
    --light-purple-color: #bbcbee;
    --danger: red;
}

.container-fluid{
    font-family: 'Poppins', sans-serif;
margin:0px;
margin-top: 10px;
margin-bottom: 20px;
box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--light-purple-color);
}  

content{
    width:100%;
    padding: 15px;
}

h1{
    text-align: center;
    font-size: 40px;
    color:#1a2537;
}

p{
    text-align: center;
}

.danger{
    color: var(--danger);
}

/* -------------------BOTONES Y LINKS */
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .previous:hover {
    background-color: var(--dark-purple-color);
    color: var(--light-purple-color);
  }
  #arrow{
    color:var(--light-purple-color) ;
}
  .previous {
    background-color: var(--dark-color);
    color:white;
    border-radius: 50px;
  }
  
  
.btn-content {
    padding: 1.2rem 1rem ;
    display: inline-block;
}

.flecha-content{
    padding: 1.2rem 0.5rem ;
    display: inline-block;
}

.btn-primary{
    background-color: var(--dark-color);
    display: inline-block;
}
.bg-color{
    background-color: var(--dark-purple-color);
}

.icon{
    min-width:50px;
    text-align: center;
    color: #999;
}

.button{
   
    border: none;
    width: 50%;
    color: white;
    background-color: var(--dark-color);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* margin-bottom: 30px; */
    margin: 10px 100px 20px 120px;
}

.button:hover{
    background: var(--dark-purple-color);
    color:#1e60c4;
}

.link{
    text-decoration: none;
    color: var(--dark-purple-color);
    font-weight: 600;
}
.link:hover{
    color:var(--dark-color);
    text-decoration: none;
}

/* ----------------FORM */
.form{
    background-color: white;
    margin-top: 30px;
    padding: 3px;
    padding-top: 20px;
    border-radius: 2%;
    overflow-x: inherit;
}

input[type="text"], input[type="password"], input[type="email"]
{
    font-size: 20px;
    width: 72%;
    padding: 10px;
    border: none;
}

.input-content{
    /* margin-bottom: 30px; */
    margin: 20px 40px 20px 40px;
    border: 1px solid #aaa;
}







@media(min-width:768px){
    .form{
        margin:auto;
        width:500px;
        margin-top:30px;
        border-radius: 2%;
    }
}
