:root {
  --primary: #1e60c4;
  --light: #ffffff;
  --light-blue: #cbddeb;
  --grey: #efeff7;
  --dark: #277cec79;
}

body {
  scroll-behavior: smooth;
  overflow: scroll;
  font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
  font-weight: 700;
}

.text-muted {
  color: var(--primary) !important;
  opacity: .7;
}

.bg-light {
  background-color: var(--light-blue) !important;
}

.bg-light-blue {
  background-color: var(--light) !important;
}

.bg-dark{
  background-color: var(--dark) !important;
}


.shadow-sm {
  box-shadow: 0 0 1.25rem rgba(34, 165, 73, 0.13);
}

.shadow-hover {
  transition: 1s ease-in-out;
}

.shadow-hover:hover {
  transition: 1s ease-in-out;
  box-shadow: 0 .5rem 1rem rgba(11,37,75,.10)!important;
}

#sidebar-container {
  min-height: 100vh;
  margin-left: -18rem;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-container .logo{
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

#sidebar-container .list-group-item:hover{
  color: var(--light)!important;
  background-color: rgb(30, 28, 133) !important;
}

#content-wrapper.toggled #sidebar-container {
  margin-left: 0;
}


.badge {
  padding: .5rem 1rem;
}

.bg-primary, .badge-primary {
  background-color: rgba(0, 123, 255, .1) !important;
}

.btn-primary {
  background-color: rgba(12, 17, 148, 0.8) !important;
  border: 0;
}

.btn-primary:hover {
  background-color: rgb(14, 8, 71) !important;
}

.badge-secondary {
  background-color: var(--grey);
  color: var(--primary);
}

#content {
  overflow-y: auto;
  height: 100vh;
}

table thead th {
  border: 0 !important;
}

table tbody tr {
  background-color: var(--light);
}

table tbody td {
  border-top: 0 !important;
  line-height: 1.2;
}
ion-icon {
  font-size: 64px;
}
.text-primary{
  color: rgb(14, 129, 20) !important;
}
.text-secondary{
  color: rgb(178, 228, 181) !important;
}

footer{
height: auto;
background-color: var(--dark);
}


@media (min-width: 768px) {
  #sidebar-container {
    margin-left: 0;
  }
  #content-wrapper.toggled #sidebar-container {
    margin-left: -18rem;
  }
}
